@charset "UTF-8";

.radio-stars {
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
    direction: rtl;
    counter-reset: star-rating;
    font-size: 0;
}

    .radio-stars:hover .radio-star::before {
        content: "☆";
    }

    .radio-stars:hover .radio-star:hover::before,
    .radio-stars:hover .radio-star:hover ~ .radio-star::before {
        content: "★";
    }

.radio-star {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    padding: 0 2px;
    width: 0.9em;
    direction: ltr;
    color: rgba(0, 0, 0, 0.25);
    font-size: 40px;
    white-space: nowrap;
}

    .radio-star::before {
        content: "☆";
    }

    .radio-star:hover, .radio-star:hover ~ .radio-star, input:checked ~ .radio-star {
        color: orange;
    }

input:checked ~ .radio-star {
    counter-increment: star-rating;
}

    input:checked ~ .radio-star::before {
        content: "★";
    }

.radio-star-total {
    pointer-events: none;
    direction: ltr;
    unicode-bidi: bidi-override;
    position: absolute;
    right: -2em;
    bottom: 0.5em;
    color: gray;
    color: blue!important;
    font-size: 20px;
}

    .radio-star-total::before {
        content: counter(star-rating) "";
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

